[Unit]
Description=Run the cat feeding program
After=network.target

[Service]
ExecStart=/home/pi/cat-feeder/cat-feeder
WorkingDirectory=/home/pi/cat-feeder/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
