{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<p>Hello, {{ name }}!</p>
<p>I've been called {{ click_count }} times.</p>
<p>I know about {{ picture_count }} images</p>
<p>There have been {{ loop_count }} loops of the other task.</p>
<p>Last tag read {{ last_tag }}.</p>
<p>Last Distance: {{ last_distance }}</p>

<ul>
{% for i in 0..(picture_count) %}
    <li>
        <a href="/picture/{{ i }}">Image {{ i }}</a>
    </li>
{% endfor %}
</ul>

<form action="/increase_click" method="post">
    <button name="Click" value="increase_click">Click</button>
</form>

<form action="/take_picture" method="post">
    <button name="take_picture" value="very_true">Take Picture</button>
</form>
{% endblock %}
